body{
  text-align: center;
  background-color: rgb(65, 64, 64);
  color: whitesmoke;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.true{  display: block}
.false{ display: none}

.quizButtons{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
button{
  font-size: large;
  padding: 25px;
  margin: 15px 5px

}
h1{
  font-size: 100px;
  margin-top: 5px;
}
p{
  font-size: large;
}

.clicked{
  background-color: rgb(142, 211, 115);
}


.Player_Name{
  height: 40px;
  width: 500px;
}

.genre_buttons{
  background-color: cadetblue;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.genreButton{
  background-color: coral;
  
}

.username{
  background-color: rgb(255, 255, 255);
  color: cadetblue;
}

.diff_buttons{
  background-color: rgb(236, 188, 180);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.answers{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.questionText{
  font-size: x-large;
}